.Monoton{
    font-family: 'Monoton', cursive;
}


body {
    background: white;
    font-family: 'Raleway', sans-serif;
}

footer {
    margin: 50px;
}

a {

    img {
        opacity: 1;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        -o-transition: opacity .25s ease;
        transition: opacity .25s ease;
        &:hover, &:active {
            opacity: 0;
        }
    }

    .effect {
    opacity: 0;
        &:hover, &:active {
            opacity: 1;
        }
    }
}

